<a href="https://colab.research.google.com/github/gluca13/analisis_datos/blob/main/Tarea_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Ejercicio Bisiesto")
anio=int (input ("Ingrese el año: "))
if (anio % 400 == 0)or (anio % 4 == 0) and (anio % 100 != 0):
  print ("El año es Bisiesto")
else:
  print ("El año no es Bisiesto")

Ejercicio Bisiesto
Ingrese el año: 600
El año no es Bisiesto

In [ ]:
switcher = {
  1:"Enero",
  2:"Febrero",
  3:"Marzo",
  4:"Abril",
  5:"Mayo",
  6:"Junio",
  7:"Julio",
  8:"Agosto",
  9:"Septiembre",
  10:"Octubre",
  11:"Noviembre",
  12:"Diciembre",
}

argumento = int(input("Ingrese un numero: "))
nombreMes = switcher.get(argumento, "Mes invalido")
print(nombreMes)

Ingrese un numero: 5
Mayo

In [ ]:
C=-1
I=0
M=0
while(C<0) or (I<=0) or (I>=100) or (M<=0):
  print("Introduce el capital, el interes, y el tiempo apropiados")
  C=int (input ("Capital: "))
  I=int (input ("Interes: "))
  M=int (input("Tiempo en Annios: "))

for i in range(M):
  C=C*(1+I/100)
  print("Monto", C, "colones")

Introduce el capital, el interes, y el tiempo apropiados
Capital: 20000
Interes: 15
Tiempo en Annios: 10
Monto 23000.0 colones
Monto 26449.999999999996 colones
Monto 30417.499999999993 colones
Monto 34980.124999999985 colones
Monto 40227.14374999998 colones
Monto 46261.215312499975 colones
Monto 53200.397609374966 colones
Monto 61180.457250781204 colones
Monto 70357.52583839837 colones
Monto 80911.15471415812 colones

In [ ]:
print("Digite un numero")
numero=int (input ("Numero: "))
suma=0
for i in range (1, numero+1):
  if (numero % i==0):
    suma=suma + i
print(suma)

Digite un numero
Numero: 10
18

In [ ]:
vector=[35,34,33,32,27,25,21]

suma = 0
for i in vector:
  suma += I

print("Media: ", suma/len(vector))

Media:  15.0